{% import "_forms.html" as forms %}
{% extends "base.html" %}

{% block page_header %}
	<div class="panel panel-default">
	<div class="panel-heading">
		<p>{{ post.title }}</p>
	</div>
	<div class="panel panel-body">
  <p>{{ post.body }}<p>
  <p>{{ post.created_at.strftime('%H:%M %Y-%m-%d') }}</p>
  </div>
  <div class="panel-footer">
  <p>Comments</p>
  {% if post.comments %}
    {% for comment in post.comments %}
       <p>{{ comment.body }}</p>
       <p><strong>{{ comment.author }}</strong> <small>on {{ comment.created_at.strftime('%H:%M %Y-%m-%d') }}</small></p>
      {{ comment.text }}
    {% endfor %}
  {% endif %}
  </div>
  </div>
  <p>Add a comment</p> 
  <form action="." method="post">
  {{ forms.render(form) }}
  <div class="actions">
    <input type="submit" class="btn primary" value="comment">
  </div>
</form>
{% endblock %}